$imageFolderPath: '/images';

%base-cell{
  width:20px;
  height:20px;
}

table {
  thead{
    tr{
      th{
        @extend %base-cell
      }
    }
  }
  tbody{
    tr{
      td{
        @extend %base-cell;
        cursor: pointer;
      }
      .none{
        background-color: antiquewhite;
      }
      .occupy{
        background-image: url($imageFolderPath+'/occupy.png');
      }
      .past{
        background-image: url($imageFolderPath+'/past.png');
        cursor: default
      }
      .live{
        background-image: url($imageFolderPath+'/live.png')
      }
      .got{
        background-image: url($imageFolderPath+'/got.png');
      }
      .dead{
        background-image: url($imageFolderPath+'/dead.png');
      }
      .mask{
        background-image: url($imageFolderPath+'/mask.png');
      }
    }
  }
  .field{
    
  }
}

.container{
  position: relative;
  float:left;
  .lock{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.win-banner-canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  .win-banner{
    width: 200px;
    padding: 10px;
    margin: 300px auto auto auto;
    background: #fc0;
    position: absolute;
    right: 0;
    left: 0;
    .win-text{
      text-align: center;
      width: 100%;
      display: block;
    }
  }
}