table thead tr th, table tbody tr td {
  width: 20px;
  height: 20px; }

table tbody tr td {
  cursor: pointer; }

table tbody tr .none {
  background-color: antiquewhite; }

table tbody tr .occupy {
  background-image: url("/images/occupy.png"); }

table tbody tr .past {
  background-image: url("/images/past.png");
  cursor: default; }

table tbody tr .live {
  background-image: url("/images/live.png"); }

table tbody tr .got {
  background-image: url("/images/got.png"); }

table tbody tr .dead {
  background-image: url("/images/dead.png"); }

table tbody tr .mask {
  background-image: url("/images/mask.png"); }

.container {
  position: relative;
  float: left; }
  .container .lock {
    position: absolute;
    width: 100%;
    height: 100%; }

.win-banner-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0; }
  .win-banner-canvas .win-banner {
    width: 200px;
    padding: 10px;
    margin: 300px auto auto auto;
    background: #fc0;
    position: absolute;
    right: 0;
    left: 0; }
    .win-banner-canvas .win-banner .win-text {
      text-align: center;
      width: 100%;
      display: block; }
